<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/433f1b34e2.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>
<body>
    <h1>center</h1>
    <!-- <h1> <%= fname %> </h1>
    <h1> <%= lname %> </h1>
    <h1> <%= idd %> </h1> -->

    
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
         </div>
         
         <select  id="state"  class="cc custom-select form-control" name="state" style="height: 32px; margin-bottom:10px; font-size:14px;" required>
            <option value="" >State</option>
        </select>
         <span class="input-group-btn" style="width:20px;"></span>
         <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
         </div>
         <select  id="city"  class="cc custom-select form-control" name="city" style="height: 32px; margin-bottom:10px; font-size:14px; positon:relative; " required>
            <option value="" >City</option>
        </select>

    </div>

    <script>
        let auth_token;
        $(document).ready( function(){
            $.ajax({
                type:'get',
                url:'https://www.universal-tutorial.com/api/getaccesstoken',
                success:function(data){
                    auth_token=data.auth_token;
                    getState(auth_token)
                    console.log('ajax');
                },
                error:function(error){
                    console.log(error);
                },
                headers:{
                    "Accept": "application/json",
                    "api-token": "Y4iA6bE_Bep9tMA6Xq1Fjkem-h0I6yQ1Twbu0FplS4oDCHpHunYXVPOFM_OB5_wWKqo",
                    "user-email": "balkar81199@gmail.com"
                }

            })
           
            $('#country').change(function(){
                getState();
            });
           
            $('#state').change(function(){
                getCity();
            });
            console.log('hello');
        })
        function getState(auth_token){
            let country_name='India';
            $.ajax({
                type:'get',
                url:'https://www.universal-tutorial.com/api/states/'+country_name,
                success:function(data){
                    
                    $('#state').empty();
                    data.forEach(element=>{
                        $('#state').append( '<option value="'+element.state_name+ '">'+element.state_name+'</option>' );
                    })
                    // getCity(auth_token);
                    console.log('ajax');
                },
                error:function(error){
                    console.log(error);
                },
                headers:{
                    "Authorization": "Bearer " +auth_token,
                    "Accept": "application/json"
                }

            })
        }


        function getCity(){
            let state_name=$('#state').val();
            $.ajax({
                type:'get',
                url:'https://www.universal-tutorial.com/api/cities/'+state_name,
                success:function(data){
                    $('#city').empty();
                    data.forEach(element=>{
                        $('#city').append( '<option value="'+element.city_name+ '">'+element.city_name+'</option>' );
                    })
                   console.log('ajax');
                },
                error:function(error){
                    console.log(error);
                },
                headers:{
                    "Authorization": "Bearer " +auth_token,
                    "Accept": "application/json"
                }

            })
        }
    </script>
</body>
</html>